<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex">
    <div class="brandLogo">
      <i class="fa-solid fa-cart-shopping"></i>
      <a class="navbar-brand mx-2">Shopping</a>
    </div>
    <div class="tabs">
        <a  class="mx-3" (click)="navigate('catalogue')">Catalogue</a>
        <a class="mx-3" (click)="navigate('cart')">Cart</a>
    </div>
    <div class="cart d-flex" (click)="navigate('cart')">
        <i class="fa-solid fa-cart-plus"></i>
        
      </div>
  </div>
 
</nav>

