.fa-solid{
    color: white;
}
.container-fluid{
    justify-content: space-between;
}
.tabs{
    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}
.cart{
    align-items: center;
  cursor: pointer;
}