<div *ngIf="!totalAmount" class="container">
  <div class="box">
    <h1>No Poducts added.</h1>
    <button class="btn btn-primary" (click)="shopNow()" >Shop Now!</button>
  </div>
</div>

<div *ngIf="cartItemCount && totalAmount" class="containerCart">
    <table class="table">
        <thead>
          <tr>
           
            <th scope="col">Name</th>
            <!-- <th scope="col">Image</th> -->
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope = "col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
           
            <td>{{item.name}}</td>
            <!-- <td> <img src="{{item.image}}"></td> -->
            <td>{{item.quantity}}</td>
            <td>₹{{item.price}}</td>
            <td><i class="fa-solid fa-trash-can" (click)="deleteProduct(item)"></i></td>
          </tr>
        </tbody>
      </table>

      <div class="summary" *ngIf="totalAmount">
        <h2>Order Total: ₹{{totalAmount}}</h2>
        <h3>Estimated Delivery Date: Dec 25, 2022</h3>
      </div>

      <div class="confirmOrder" *ngIf="totalAmount">
        <button class="btn btn-primary" (click)="confirmOrder()" >Confirm Order</button>
      </div>
</div>